<html>
<head>
  <title></title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
</head>
<body ng-app='ToDo'>

  <div ng-controller='TodoCtrl'>

  <div class="row">
    <div class="col-xs-12 text-center">
      <h1> Angular To-Do List. </h1>
    </div>
    <div class="row">
      <div class="col-xs-offset-3 col-xs-6">
        <form class="form-group">
          

            
          <div class="form-group">
            <label >Task: </label>
            <input class="form-control" type="text" ng-model="taskText">
          </div>  
          
          <div class="form-group">
            <label >Due date: </label>
            <input class="form-control" type="date" ng-model="taskDate">
          </div>

          
          <button class="btn btn-success" type="submit" ng-click="createTodo()">Add a task</button>
        </form>
            <label >Sort by: </label>
            <select class="form-control" ng-model="orderOptions" >
              <option value="">Default</option>
              <option value="-completed">Completed on top</option>
              <option value="comleted">Completed on bottom</option>
              <option value="-dueDate">Due date descending</option>
              <option value="dueDate">Due date ascending</option>
            </select>
        <h3>To-Do list:</h3>
        <table>
          <div todo-item ng-repeat="(index, item) in items | showUncompleted : isCompleted | orderBy: orderOptions"></div>
        </table>

        <a href="" class="btn btn-default" ng-click="showCompleted()">{{buttonFilterCompleted}}</a>
        <a href="" class="btn btn-default" ng-click="clearCompleted()">Clear Completed</a>

        <br>
      </div>
    </div>
  </div>

    
  </div>

<script src="app.js"></script>
<script src="javascript/controllers/todoctrl.js"></script>
<script src="javascript/directives/todo-item.js"></script>
<script src="javascript/services/todo-service.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
</body>
</html>